
{% block encabezado %}
	<h1>Bienvenido</h1>
{% endblock %}
{% block content %}
	<p>Bievenido ADMINISTRADOR  {{usuario.username|upper}},
		la última vez que te vimos por aquí fue el {{usuario.last_login}}.</p>
	<p>Eres miembro desde el {{usuario.date_joined}}</p>
	<a href="/perro/nuevo/">Ingresa Un Perro nuevo</a>
{% endblock %}

