{% load pwa %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Centro de Recuperacion Mis Perris</title>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/half-slider.css' %}">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href=""><img src="{% static "img/logo.png" %}"></a>
        {% if user.is_authenticated %}
         hola , {{user.username}}<a class="nav-link" href="/accounts/logout/">Cerrar Sesion</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login/">Login y Registro</a>
            </li>
            {% if user.is_staff %}
              <a class="nav-link" href="/perro/nuevo/">Perro Nuevo</a>
            {% endif %}
            {% if user.is_authenticated %}
              <a class="nav-link" href="/perro/lista/">Listado</a>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
		
		 <div>

				{% block css %}
				<style>
				img { width:100px; }
				</style>
			{% endblock %}
			{% block encabezado %}
				<h1>Nuestros Perros</h1>
			{% endblock %}
			
			{% block contenido %}
				 <table>
					 <tr>
						 <th>Nombre</th>
						 <th>Raza</th>
						 <th>Estado</th>
						 <th>Usuario</th>
						 <th>::OPCIONES::</th><br><br>
					 </tr>
						{% for dato in datos %}
						<tr>
							<td>{{dato.titulo}}</td>
							<td>{{dato.Raza}}</td>
							<td>{{dato.estados}}</td>
							<td>{{dato.usuario}}</td>
							<td>
                <a href="{% url 'eliminar_perros' dato.id %}">Eliminar</a><br>
                <a href="{% url 'modificar_perros' dato.id %}">Modificar</a><br>
                {% if dato.imagen %}
                <td><img src='{{MEDIA_URL}}{{dato.imagen.url}}'></td>
                {% else %}
                <td><img src="{% static "img/logo.png" %}"></td>
                {% endif %}
							</td>
						</tr>
					
						{% empty %}
					<h1>Aún no hay perros registrados</h1>
						{% endfor %}
			
				 </table>
			
				 {% if messages %}
					 {% for me in messages %}
					 
							 <div>{{ me }}</div>
							 
					 {% endfor %}
				 {% endif %}
			
			
			 {% endblock %}
		 </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Samuel Gonzalez 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    

  </body>

</html>







