
{% block titulo %}Modificar perro {% endblock %}
{% block encabezado %}
	<h1>Modificar</h1>
{% endblock %}


	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
         

		<input type="hidden" name="txtid" id='txtid' value="{{ perri.id }}">
        <label for="">Raza</label>
		<input type="text" name="txtRaza" id="txtRaza" value="{{ perri.Raza }}">
		
		<label for="">Nombre</label>
		<input type="text" name="txttitulo" id="txttitulo" value="{{ perri.titulo }}">

		<label for="">descripcion</label>
		<input type="text" name="txtdescripcion" id="txtdescripcion" value="{{ perri.Descripcion }}">

		<label for="">usuario</label>
		<input type="text" name="txusuario" id="txtusuario" value="{{ perri.usuario }}">
		
		<select name="cbimg" id="cbimg">
			<option value="">---</option>
			{% for a in perru %}
				 <option value="">{{  a.imagen }}</option>
			{% endfor %}
        </select>
		<select name="cbestado" id="cbestado">
		   <option value="">---</option>
		        {% for a in perru %}
				<option value="">{{  a.estados }}</option>
				{% endfor %}
		</select>
		<p><input type='submit' value='Modificar'/></p>
	</form>
