{% extends 'base.html' %}
{% block titulo %}Usuario desactivado{% endblock %}
{% block encabezado %}
	<h1>El usuario no esta activo</h1>
{% endblock %}
{% block content %}
	<p>Contactarse con el administrador, para resolver el problema.</p>
{% endblock %}