{% block titulo %}Nuevo perro {% endblock %}
{% block encabezado %}
	<h1>Comparte una nuevo perro</h1>
{% endblock %}
{% block contenido %}
	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		{{formulario.as_p}}
		{{formulario1.as_p}}
		<p><input type='submit' value='Registrar'/></p>
	</form>
{% endblock %}