{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ formulario.as_table }}
            
        </table>
         
         <input type='submit' value='Registrar'/>
    </form>
</body>
</html>