

{% block titulo %}Bienvenido{% endblock %}
{% block encabezado %}
	<h1>Bienvenido</h1>
{% endblock %}
{% block content %}
	<p>Bievenido usuario {{usuario.username|upper}},
		la última vez que te vimos por aquí fue el {{usuario.last_login}}.</p>
	<p>Eres miembro desde el {{usuario.date_joined}}</p>  
{% endblock %}

<a href="/perro/lista/">NUESTROS PERROS RESCATADOS</a><br><br>

